<%= image_tag @post.image.url(:medium) %>
<h1><%= @post.title %></h1>
<p><%= @post.user.name %></p>
<p><%= @post.link %></p>
<p><%= @post.description %></p>
<p><%= "#{@post.get_upvotes.size} Likes" %></p>
<p><%= "#{@post.get_downvotes.size} Dislikes" %></p>

<%= link_to "Like", like_post_path(@post), method: :get %>
<%= link_to "Dislike", dislike_post_path(@post), method: :get %>

<!-- cooment -->
<h2><%= "#{@post.comments.count} Comment".pluralize(@post.comments.count) %></h2>
<% @comments.each do |comment| %>
  <p><%= comment.user.name %></p>
  <p><%= comment.content %></p>
<% end %>
<%= render 'comments/form' %>

<%= link_to "Home", root_path  %>
<%= link_to "Edit", edit_post_path(@post) %>
<%= link_to "Destory", post_path(@post), method: :delete, data: { confirm: "Are u sure?"} %>
